
PORT=4000
RELEASE_NODE=frontman_blue@127.0.0.1
RELEASE_COOKIE=GENERATED_BY_SETUP_SCRIPT
RELEASE_DISTRIBUTION=name

PHX_HOST=api.frontman.sh
PHX_SERVER=true

DATABASE_URL=ecto://frontman:DB_PASSWORD@localhost/frontman_server_prod
DATABASE_SSL=false

SECRET_KEY_BASE=GENERATED_BY_SETUP_SCRIPT

CLOAK_KEY=CHANGE_ME

WORKOS_API_KEY=CHANGE_ME
WORKOS_CLIENT_ID=CHANGE_ME
SENTRY_DSN=CHANGE_ME

DISCORD_NEW_USERS_WEBHOOK_URL=CHANGE_ME

RESEND_API_KEY=CHANGE_ME
