/_build/
/.elixir_ls/
/cover/

/deps/

/doc/

/.fetch

erl_crash.dump

*.ez

/tmp/

frontman_server-*.tar

/priv/static/assets/

/priv/static/cache_manifest.json

/priv/static/browser-test/*.js

npm-debug.log
/assets/node_modules/


!lib/

/envs/.dev.overrides.env

