[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=node_exporter
Group=node_exporter
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=127.0.0.1:9100 \
  --collector.systemd \
  --collector.systemd.unit-include=frontman-(blue|green).service \
  --collector.textfile \
  --collector.textfile.directory=/opt/frontman/monitoring/textfile
Restart=on-failure
RestartSec=5

# Security hardening
NoNewPrivileges=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
